<a href="https://colab.research.google.com/github/ZAsaee/Image_Segmentation-GastroIntestinal_Tract_Tumor_Detection/blob/main/Notebooks/1_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os
import shutil
import zipfile

In [ ]:
# Mount the Google Drive
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [ ]:
# Open the folder
%cd /gdrive/My Drive/'Springboard_DS_ program'/'CP3_Prj'/'Data'

/gdrive/My Drive/Springboard_DS_ program/CP3_Prj/Data

In [ ]:
# Unzip the dataset
local_zip = 'raw_data.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('raw_data')
zip_ref.close()

In [ ]:
# Create empty lists to store the images information
id = list()
size_x = list()
size_y = list()
spacing_x = list()
spacing_y = list()
case = list()
day = list()
slice_id = list()

In [ ]:
# Rename the images to match with the id column in train tables
des_dir = os.path.join('labeled_data')

for root, dirs, files in os.walk('raw_data/train'):
  for f in files:
    f_n = root.split('/')[3] + '_' + f.split('_')[0] + '_' + f.split('_')[1]
    id.append(f_n)
    size_x.append(f.split('_')[2])
    size_y.append(f.split('_')[3])
    spacing_x.append(f.split('_')[4])
    spacing_y.append(f.split('_')[5][:4])
    case.append(root.split('/')[-2].split('_')[0])
    day.append(root.split('/')[-2].split('_')[1])
    slice_id.append(f.split('_')[0] + '_' + f.split('_')[1])

    new_name = f_n + '.png'
    dir_to_move = os.path.join(root,f)
    des_dir = os.path.join('labeled_data', new_name)
    shutil.move(dir_to_move, des_dir)

In [ ]:
df_info = pd.DataFrame(data=list(zip(id, case, day, slice_id, size_x, size_y, spacing_x, spacing_y)), 
                       columns=['id', 'case', 'day', 'slice_id', 'size_x', 'size_y', 'spacing_x', 'spacing_y'])

df_info.head(10)

,id,case,day,slice_id,size_x,size_y,spacing_x,spacing_y
0,case101_day20_slice_0001,case101,day20,slice_0001,266,266,1.50,1.50
1,case101_day20_slice_0002,case101,day20,slice_0002,266,266,1.50,1.50
2,case101_day20_slice_0003,case101,day20,slice_0003,266,266,1.50,1.50
3,case101_day20_slice_0004,case101,day20,slice_0004,266,266,1.50,1.50
4,case101_day20_slice_0005,case101,day20,slice_0005,266,266,1.50,1.50
5,case101_day20_slice_0006,case101,day20,slice_0006,266,266,1.50,1.50
6,case101_day20_slice_0007,case101,day20,slice_0007,266,266,1.50,1.50
7,case101_day20_slice_0008,case101,day20,slice_0008,266,266,1.50,1.50
8,case101_day20_slice_0009,case101,day20,slice_0009,266,266,1.50,1.50
9,case101_day20_slice_0010,case101,day20,slice_0010,266,266,1.50,1.50

In [ ]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38496 entries, 0 to 38495
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         38496 non-null  object
 1   case       38496 non-null  object
 2   day        38496 non-null  object
 3   slice_id   38496 non-null  object
 4   size_x     38496 non-null  object
 5   size_y     38496 non-null  object
 6   spacing_x  38496 non-null  object
 7   spacing_y  38496 non-null  object
dtypes: object(8)
memory usage: 2.3+ MB

In [ ]:
# Directory of the labelled images
image_dir = os.path.join('./labeled_data')
image_labels = os.listdir(image_dir)
print(image_labels[:10])

['case101_day20_slice_0001.png', 'case101_day20_slice_0002.png', 'case101_day20_slice_0003.png', 'case101_day20_slice_0004.png', 'case101_day20_slice_0005.png', 'case101_day20_slice_0006.png', 'case101_day20_slice_0007.png', 'case101_day20_slice_0008.png', 'case101_day20_slice_0009.png', 'case101_day20_slice_0010.png']

In [ ]:
print(len(image_labels))

38496

In [ ]:
# Add the segmentation info to the dataframe
rle_info = pd.read_csv('raw_data/train.csv')
rle_info.head()

                         id        class segmentation
0  case123_day20_slice_0001  large_bowel          NaN
1  case123_day20_slice_0001  small_bowel          NaN
2  case123_day20_slice_0001      stomach          NaN
3  case123_day20_slice_0002  large_bowel          NaN
4  case123_day20_slice_0002  small_bowel          NaN

In [ ]:
rle_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115488 entries, 0 to 115487
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            115488 non-null  object
 1   class         115488 non-null  object
 2   segmentation  33913 non-null   object
dtypes: object(3)
memory usage: 2.6+ MB

In [ ]:
# Drop the entries with missing value
rle_info = rle_info.dropna()
rle_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33913 entries, 194 to 115465
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            33913 non-null  object
 1   class         33913 non-null  object
 2   segmentation  33913 non-null  object
dtypes: object(3)
memory usage: 1.0+ MB

In [ ]:
image_df = df_info.merge(rle_info, how='inner', left_on='id', right_on='id', copy=False)
image_df.head(10)

,id,case,day,slice_id,size_x,size_y,spacing_x,spacing_y,class,segmentation
0,case101_day20_slice_0066,case101,day20,slice_0066,266,266,1.50,1.50,stomach,32107 5 32371 10 32635 13 32900 15 33165 17 33...
1,case101_day20_slice_0067,case101,day20,slice_0067,266,266,1.50,1.50,stomach,31313 2 31577 7 31841 10 32105 14 32369 17 326...
2,case101_day20_slice_0068,case101,day20,slice_0068,266,266,1.50,1.50,stomach,30517 2 30781 6 31046 9 31311 11 31575 15 3184...
3,case101_day20_slice_0069,case101,day20,slice_0069,266,266,1.50,1.50,stomach,29981 10 30246 13 30511 16 30776 19 31041 21 3...
4,case101_day20_slice_0070,case101,day20,slice_0070,266,266,1.50,1.50,stomach,28918 9 29182 14 29446 18 29711 21 29976 23 30...
5,case101_day20_slice_0071,case101,day20,slice_0071,266,266,1.50,1.50,stomach,28117 12 28382 16 28647 18 28912 21 29177 24 2...
6,case101_day20_slice_0072,case101,day20,slice_0072,266,266,1.50,1.50,stomach,27053 9 27317 14 27582 16 27847 19 28112 22 28...
7,case101_day20_slice_0073,case101,day20,slice_0073,266,266,1.50,1.50,stomach,26786 9 27050 14 27314 18 27579 21 27844 23 28...
8,case101_day20_slice_0074,case101,day20,slice_0074,266,266,1.50,1.50,large_bowel,31080 6 31345 8 31610 10 31876 10 32142 10 324...
9,case101_day20_slice_0074,case101,day20,slice_0074,266,266,1.50,1.50,stomach,26517 10 26781 16 27046 19 27311 22 27577 23 2...

In [ ]:
image_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33913 entries, 0 to 33912
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            33913 non-null  object
 1   case          33913 non-null  object
 2   day           33913 non-null  object
 3   slice_id      33913 non-null  object
 4   size_x        33913 non-null  object
 5   size_y        33913 non-null  object
 6   spacing_x     33913 non-null  object
 7   spacing_y     33913 non-null  object
 8   class         33913 non-null  object
 9   segmentation  33913 non-null  object
dtypes: object(10)
memory usage: 2.8+ MB

In [ ]:
# Save image_info dataframe
image_df.to_csv(path_or_buf='/gdrive/My Drive/Springboard_DS_ program/CP3_Prj/Data/image_df.csv', index=False)